<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96062622941-7l4pg2dkomvfun8nocjkmg2pchl70ogb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96062622941-7l4pg2dkomvfun8nocjkmg2pchl70ogb</string>
	<key>API_KEY</key>
	<string>AIzaSyANYvPMYLhYTh_lpTu2ayiG4q79KrwnIRs</string>
	<key>GCM_SENDER_ID</key>
	<string>96062622941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NadaZeini.VaxsPass</string>
	<key>PROJECT_ID</key>
	<string>vaxspass-1f4b3</string>
	<key>STORAGE_BUCKET</key>
	<string>vaxspass-1f4b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96062622941:ios:dba3471462a97bd6b89f34</string>
</dict>
</plist>